body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: bg-light;
    /*background-image: url('../images/pattern.png');*/
    background-repeat: repeat;
  }

.bg-primary {
    background-color: #194383 !important;
}

.bg-secondary {
    background-color: #50c6f5 !important;
}

.hero-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
  height: 40vh;
}

.hero-index {
  background-image: url('../images/carousel3.jpg');
}

.bi {
  display: inline-block;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
}
